@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #b45137;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  
}
.containerSidebar {
  display: flex;
}
main {
  width: 100%;
  padding: 0px 20px 0 20px;
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 15px;
}

.scroll-page{
  flex: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.table-container {
  flex: 1;
  overflow: auto;
  margin-bottom: 1.5rem;
}
.action-col-small td:last-child{
  width: 20px;
  text-align: center;
}
.fs--1{
  font-size: 15px;
}
.date input{
  padding: 8px;
}
.widthLow div{
  min-width: none !important;
  width: 135px !important;
}